

.card-container {
  width: 16.1538461538vw;
  height: 22.6153846154vw;
  left: 0;
  top: 50%;
  margin: -11.3076923077vw 0 0 6.4615384615vw;
  position: absolute;
  transition: all .5s;
  transform-style: preserve-3d;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform .5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: absolute;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card-container.is-flipped {
  width: 32.3076923076vw;
  height: 45.2307692308vw;
  left: 27vw;
  top: 25%;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  font-size: 1.5vw;
  backface-visibility: hidden;
  overflow-wrap: break-word;
}

.card-face > p {
  margin: 2vw;
}

.card-back {
  background-color: lighten($blue, 20%);
  background-image: $card-logo;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1vw;
  -webkit-box-shadow: 0px 0px .5vw 0px darken($blue, 15%);
  -moz-box-shadow: 0px 0px .5vw 0px darken($blue, 15%);
  box-shadow: 0px 0px .5vw 0px darken($blue, 15%);
}

.card-front {
  background-color: lighten($blue, 20%);
  border-radius: 1vw;
  -webkit-box-shadow: 0px 0px .5vw 0px darken($blue, 10%);
  -moz-box-shadow: 0px 0px .5vw 0px darken($blue, 10%);
  box-shadow: 0px 0px .5vw 0px darken($blue, 10%);
  transform: rotateY(180deg);
}

.lift {
  transform: scale(1.1);
}