.draw, .playing, .discard {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid darken($blue, 10%);
  background:darken($blue, 5%);
  position: absolute;
  top: 50%;
}

.draw {
  
  margin: -17rem 0 0 5rem;
  height: 34rem;
  width: 26rem;
  border-radius: 2rem;
  left: 0;
}

.playing {
  margin: -34rem 0 0 -26rem;
  height: 68rem;
  width: 52rem;
  border-radius: 4rem;
  left: 50%;
}

.discard {
  margin: -17rem 5rem 0 0;
  height: 34rem;
  width: 26rem;
  border-radius: 2rem;
  right: 0;
}

.draw > p, .discard > p, .playing > p {
  position: relative;
  top: -5rem;
  font-size: $m-size;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  color: darken($blue, 10%);
}