.header {
  margin: 0 auto;
  display: flex;
  position: relative;
  z-index: 100;
  flex-direction: row;
  justify-content: center;
}

.header__title {
  color: white;
  background: darken($blue, 10%);
  padding: $m-size;
  margin: 1rem 1rem 2rem;
  font-size: $l-size;
  border-bottom: .5rem solid darken($blue, 20%);
  text-align: center;
  display: inline-block;
}
