.header {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header__title {
  color: white;
  background: darken($blue, 10%);
  padding: $m-size;
  margin: 1rem 1rem 0;
  font-size: $l-size;
  border-bottom: 1rem solid darken($blue, 20%);
  text-align: center;
  display: inline-block;
}
