html {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background: $blue;
  height: 100%;
}
#root {
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}