.flex-grid {
  display: flex;
  height: 100%;
}
.col {
  flex: 1;
  position: relative;
  height: 100%;
}
.col-2 {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}